{% extends "base.html" %} {% block content %}

<h1>Add Text to PDF</h1>

<form method="POST" enctype="multipart/form-data">
  <!-- Upload -->
  <div id="dropArea" class="upload-box">
    <p>Drag & drop your PDF or click</p>
    <input type="file" name="pdf" id="fileInput" hidden />
    <p id="fileName">No file selected</p>
  </div>

  <p class="file-info">Click on the PDF preview to choose text position</p>

  <!-- ✅ KEEP FILENAME -->
  {% if filename %}
  <input type="hidden" name="filename" value="{{ filename }}" />
  {% endif %}

  <!-- PREVIEW -->
  {% if preview %}
  <div class="pdf-preview-container">
    <img src="/static/{{ preview }}" id="pdfPreview" />
  </div>
  {% endif %}

  <p id="coords" style="color: #666"></p>

  <!-- HIDDEN INPUTS -->
  <input type="hidden" name="x" id="x" />
  <input type="hidden" name="y" id="y" />

  <br />

  <!-- TEXT INPUT -->
  <input type="text" name="text" placeholder="Enter text" />

  <br /><br />

  <button class="main-btn">Add Text</button>
</form>

{% endblock %}
