{% extends "base.html" %} {% block content %}

<h1>Add Text to PDF</h1>

<form method="POST" enctype="multipart/form-data">
  <!-- UPLOAD -->
  <div id="dropArea" class="upload-box">
    <p>Drag & drop your PDF or click</p>
    <input type="file" name="pdf" id="fileInput" hidden />
    <p id="fileName">No file selected</p>
  </div>

  {% if preview %}
  <p class="file-info">Click on the PDF to place your text</p>

  <img
    src="{{ url_for('static', filename=preview) }}"
    id="pdfPreview"
    style="
      max-width: 500px;
      cursor: crosshair;
      margin-top: 20px;
      border: 1px solid #ddd;
    "
  />

  <!-- IMPORTANT -->
  <input type="hidden" name="existing_file" value="{{ filename }}" />
  {% endif %}

  <!-- POSITION -->
  <input type="hidden" name="x" id="x" />
  <input type="hidden" name="y" id="y" />

  <br /><br />

  <input type="text" name="text" placeholder="Enter text" required />

  <br /><br />

  <button class="main-btn">Add Text</button>
</form>

<!-- CLICK SCRIPT -->
<script>
  const preview = document.getElementById("pdfPreview");

  if (preview) {
    preview.addEventListener("click", function (e) {
      const rect = preview.getBoundingClientRect();

      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;

      document.getElementById("x").value = x;
      document.getElementById("y").value = y;

      alert("Position selected!");
    });
  }
</script>

{% endblock %}
