{% extends "base.html" %}

{% block title %}
PDF Guides – QuickPDFTool
{% endblock %}

{% block description %}
Learn how to compress, merge, split and edit PDF files with our free guides.
{% endblock %}

{% block content %}

<h1>PDF Guides</h1>

<p class="subtitle">
Learn how to work with PDF files easily.
</p>

<div class="tools-grid">

<a href="/how-to-compress-pdf" class="tool-card">
How to Compress a PDF
</a>

<a href="/how-to-add-page-numbers" class="tool-card">
How to Add Pages Numbers to PDF
</a>

<a href="/how-to-delete-pdf-pages" class="tool-card">
How to Delete Pages From a PDF
</a>

<a href="/how-to-jpg-to-pdf" class="tool-card">
How to Convert JPG to PDF
</a>

<a href="/how-to-protect-pdf" class="tool-card">
How to Add a Password to secure your PDF document
</a>

<a href="/how-to-rotate-pdf" class="tool-card">
How to rotate PDF pages
</a>

<a href="/how-to-unlock-pdf" class="tool-card">
How to Remove PDF Password
</a>

<a href="/how-to-merge-pdf" class="tool-card">
How to merge PDF files
</a>

<a href="/how-to-split-pdf" class="tool-card">
How to split PDF files
</a>

<a href="/how-to-word-to-pdf" class="tool-card">
How to convert Word to PDF
</a>

<a href="/how-to-pdf-to-word" class="tool-card">
How to convert PDF to Word
</a>

<a href="/how-to-pdf-to-word">guide on how to convert PDF to Word</a>.

</div>

{% endblock %}