<!DOCTYPE html>
<html>

<head>

<title>Compressing PDF</title>

<script>

function checkFile() {

fetch("/status/{{ file_name }}")
.then(response => response.json())
.then(data => {

if (data.ready) {

window.location.href = "/download/{{ file_name }}";

}

});

}

setInterval(checkFile, 2000);

</script>

</head>

<body style="font-family: Arial; text-align:center; margin-top:100px">

<h2>Compressing your PDF...</h2>

<p>Estimated time: <strong>20–40 seconds</strong></p>

<p>Please keep this page open while we process your file.</p>

</body>

</html>