{% extends "base.html" %}

{% block title %}Rotate PDF Pages{% endblock %}

{% block content %}

<h1>Rotate PDF</h1>

<p class="subtitle">
Rotate pages in your PDF document.
</p>

<form method="POST" enctype="multipart/form-data">

<input type="file" name="pdf" required>

<br><br>

<select name="rotation">
<option value="90">Rotate 90°</option>
<option value="180">Rotate 180°</option>
<option value="270">Rotate 270°</option>
</select>

<br><br>

<button class="main-btn">Rotate PDF</button>

</form>

{% endblock %}